<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body bgcolor="cyan">

<form action="http://127.0.0.1:8001/index/submit/" method="POST">
    <br><br>
    {% csrf_token %}
    <!-- Book Id : <input type="text" name="bid"><br><br> -->
    Book Name : <input type="text" name="bnm"><br><br>
    Book Price : <input type="text" name="bprice"><br><br>
    Book Qty : <input type="text" name="bqty"><br><br>
    Book Author : <input type="text" name="bath"><br><br>
    Book Publication : <input type="text" name="bpub"><br><br>
    <input type="submit">
    <br><br>

</form>


</body>
</html>